*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video {
	filter: brightness(50%) contrast(1.2) blur(5px);
}
nav{
    color:white;
}
.bg-special{
    background-color: #714ADC;
        position: relative;
        z-index: -1;
        padding: 0.001rem 0.5rem;
      }

